.blog-container {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : 10px;

    .single-blog {
        border       : 1px solid grey;
        border-radius: 3px;
        padding      : 10px;
        margin       : 0 10px;
        width        : 455px;
        text-align   : left;

        .title {
            font-size  : 20px;
            font-weight: 600;

        }

        .content {
            font-size: 16px;
            padding  : 10px 0;

        }


    }
}

.btn-add-new {
    margin: 10px 0;
    cursor: pointer;

}

.blog-detail {
    border       : 1px solid grey;
    padding      : 10px;
    border-radius: 3px;
    margin       : 10px;
    min-height   : 100px;

    .content {
        padding-top: 10px;
    }
}

.add-new-container {
    max-width    : 500px;
    border       : 1px solid grey;
    border-radius: 3px;
    padding      : 15px;
    margin       : 0 auto;
    text-align   : left;

    .text-add-new {
        margin    : 10px 0;
        text-align: center;
    }

    .inputs-data {
        padding: 5px;
        margin : 5px;

        display       : flex;
        flex-direction: column;
    }

    button {
        margin-left: 10px;
    }


}